<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cliente.nome}}</title>
</head>
<body>
    <h1>{{cliente.nome}}</h1>
    <table borde="1">
        <tr>
            <td>Nome:</td>
            <td>{{cliente.nome}}</td>
        </tr>
        <tr>
            <td>{{cliente.data_nascimento}}</td>
            <td>10/04/1998</td>
        </tr>
        <tr>
            <td>Endereço:</td>
            <td>Av. Marechal 1500</td>
        </tr>

    </table>
</body>
</html>